body {
    background: linear-gradient(to right, #aee4ed, #5fb7cf, #5a79c8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "consolas", sans-serif;
    padding-top: 60px;
}

.mytext {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: "Honk", sans-serif;
    font-size: 150px;
    margin: 0;
}

#homeheading{
    margin-top: 200px;
}

h2 {
    color: white;
    font-family: "Honk", sans-serif;
    font-size: 150px;
    margin: 0;
    text-align: center;
}

h5 {
    color: white;
    font-family: "Honk", sans-serif;
    font-size: 70px;
    margin: 0;
    text-align: center;
}

p {
    background-color: mediumslateblue;
    color: black;
    font-family: "consolas", sans-serif;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    margin: 50;
}

#p1 {
    background-color: coral;
}

.even{
    background-color: crimson;
}

.custom-yellow-navbar {
    background-color: #fec853; /* Custom yellow color */
    position: fixed; /* Ensure the navbar is fixed */
    width: 100%; /* Make sure the navbar spans the full width */
    top: 0; /* Ensure it is positioned at the top */
    z-index: 1000;
}

.login-page {
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
  }

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: 20px;
}

.sign_up-page {
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
  }


.quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.quiz-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.quiz-card h2 {
    font-family: "Consolas", sans-serif; 
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.quiz-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.quiz-link {
    display: block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.quiz-link:hover {
    text-decoration: underline;
}

.difficulty {
    background-color: #fec853;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}