<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My css example</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">

    </head>
    <body>
    <div class="container">

        <!--
            1.inline - want to apply css to opening tag
            2.internal - make style sheet and put all css tags in there on the same html
            3.external - copy everything within style elements and delete style, then link html with css in head tag,
            make css style sheet
        -->

        <h1>CS Brain Busters </h1>


        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nemo ipsum ut aliquid exercitationem! Ea sapiente, excepturi sint maxime sed aliquam nemo eius voluptatum, aspernatur quia consequatur eum unde harum.</p>
<!--        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, expedita tempora suscipit ipsam atque aut id voluptatem unde exercitationem? Error laboriosam nobis neque tempora molestiae ullam minus aspernatur iste nulla!</p>-->
<!--        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque error doloribus, ex totam fuga esse inventore cumque ducimus nulla hic reprehenderit facilis. A vitae nam possimus aliquid, rerum fugit saepe!</p>-->
<!--        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque error doloribus, ex totam fuga esse inventore cumque ducimus nulla hic reprehenderit facilis. A vitae nam possimus aliquid, rerum fugit saepe!</p>-->
    </div>
    </body>

</html>