{% extends "base.html" %} 

{% block title %}Home{% endblock %}

{% block content %} 

        <!--
            1.inline - want to apply css to opening tag
            2.internal - make style sheet and put all css tags in there on the same html
            3.external - copy everything within style elements and delete style, then link html with css in head tag,
            make css style sheet
        -->



        <h1>CS Brain Busters </h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nemo ipsum uptatum, aspernatur quia consequatur eum unde harum.</p> 


{% endblock content %}